html {
    background-image: url('pic/background1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    width: 99%;
    margin: auto;
}

header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: linear-gradient(80deg, #3f51b5 , #209df500,#209df500, #ff5722ba);
}

header .header-top div {
    width: 490px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header .header-top div a {
    /* font-size: 35px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    transition: .3s; */
    font-size: 25px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

header .header-top div a:hover{
    border-bottom: 2px solid ;
    background: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
}


header .header-bottom {
    display: flex;
    height: 130px;
    justify-content: space-between;
    align-items: center;
}

header .header-bottom div {
    width: 490px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header .header-bottom .title-container{
    display: block;
    text-align: center;
}

header .header-bottom div .title-santa{
    font-size: 60px;
    font-weight: bold;
}

header .header-bottom div a {
    font-size: 35px;
    text-decoration: none;
    color: white;
    transition: .3s;
    background-color: black;
    border-radius: 10px;
    padding: 7px;
}

header .header-bottom div a:hover {
    border-bottom: 2px solid ;
    background: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
}

/* Start Table */

    table {
        margin: 115px auto;
        width: 100%;
        background-color: #b39e84d1;
    }

    thead {
        background-color: #04AA6D;
    }

    tr {
        text-align: center;
    }

    tr:nth-child(even){
        background-color: #f2f2f2;
    }

    tbody tr:hover{
        background-color: #b7b7b7;
    }

/* End Table */

/* Start Create */

    .inputForm {
        width: 50%;
        margin: 60px auto;
        background-color: #412e6ed1;
        padding: 50px;
        border-radius: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        font-size: 20px;
        color: white;
        text-align: center;
        font-weight: bold;
    }
    
    .errors-message {
        font-size: 21px;
        color: white;
        background-color: red;
        border-radius: 6px;
        text-align: center;
    }

    .success-message {
        font-size: 21px;
        color: white;
        background-color: #18bb18;
        border-radius: 6px;
        text-align: center;
    }

/* End Create */